.blog-summary{
    display: flex;
    /* height: 100%; */
    max-height: 200px;
    min-height: 125px;
    width: calc(100% - 10px);

    /* border: var(--border); */
    border-radius: 10px;
    padding: 5px 9px;
    gap: 10px;
    min-width: 240px;
    /* height: ; */
    align-content: space-around;
    align-items: stretch;
    box-shadow:var(--box-shadow);
    background-color: var(--bg-secondary-color);
}



.micro-writer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
.micro-writer h5{
    font-weight: 400;
    color: var(--text-color1);
}
.micro-writer img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}


/* blog */
.blog-picture{
width: auto;   
    aspect-ratio: 16/10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    max-width: min(29%,200px);
    border-radius: 5px;
    max-height: 300px;
    border: solid 1px;
    margin-right: -3px;
    cursor: pointer;
    min-width: 130px;
    align-self: stretch;
}
.blog-picture img{
    height: 100%;
    aspect-ratio: 16/9;
    /* margin-left: auto; */
    
}

.blog-review{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* max-height: inherit; */
    gap: 2px;
}

.blog-summary .blog-title-div{
    display: flex;
    align-items: center;
    min-height: 3em;
}
.blog-summary .blog-title{
    margin-top: -4px;
    font-size: 1.4em;
    display: -webkit-box;
        max-width: 800px;
        height: min-content;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--text-color1);
        cursor: pointer;
}
.blog-information{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    /* margin-top: auto; */
    align-items: baseline;
}

.blog-information h5 {
    font-weight: 500;
    color: gray;
    font-size: small;
}

.blog-information .blog-tag{
    background-color: var(--tag-highlight);
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.blog-description{
        display: -webkit-box;
        max-width: 800px;
        margin: 6px 0;
        color: rgb(139, 139, 139);
    font-size: 1.0em;
            line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        max-height: min-content;
}

.blog-information .blog-tag:hover {
    color: rgb(75, 75, 75);
        background-color: var(--tag-highlight-hover)
}

@media (max-width: 580px) {
    .blog-description {
        display: none;
    }
    .blog-title{
        font-size: .90em !important;
    }
    .blog-picture{
    max-width: min(31%, 200px);
        min-width: unset;
    }
    .blog-information h5{
        font-size: 0.7em;
    }
}