#sidebar a{
    color: var(--text-color-grey);
    font-weight: 500;
}

#sidebar li:hover *{
    color: white
}
#sidebar *{
    background-color: transparent;
    transition: 0.1s;
}
#sidebar{
    background-color: var(--bg-bar-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    border: 0;
    border-right: var(--border);
}

.micro-profile{
display: flex;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
}

.micro-profile h3:hover,.personal-img-div:hover{
        color: var(--text-color1);
        border-color: var(--text-color1);
}
.micro-profile.closed h3{
 visibility: hidden;
 height: 0px;
}
.micro-profile.closed .personal-img-div{
    height: 40px;
    width: 40px;
}
.micro-profile h3{
    color: var(--text-color-grey);
    font-size: small;
    display: inline-block;
white-space: nowrap;
margin: 20px 0px;
cursor: pointer;
}

.personal-img-div{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border: solid 2px;
    border-color: var(--text-color-grey);
    cursor: pointer;
}
.personal-img-div img{
    height: 100%;
    width: 100%;
}

#sidebar hr{
    background-color: var(--text-color-grey);
    height: 1px;
    border-top: 0;
    border-bottom: 0px;
}


.desktop-menu,.mobile-menu{
color: var(--text-color-grey);
position: absolute;
top: 13px;
left: 12px;
cursor: pointer;
width: 35px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
z-index: 4;
background-color:var(--bg-bar-color); 

}

.mobile-menu{
position: fixed;
display: none;
}

.desktop-menu{
    position: relative;

}
.desktop-menu:hover,.mobile-menu:hover{
    color: white;
}

.css-16jkw2k>.ps-menu-button{
    padding-left: 12px !important;
}

@media screen and (max-width: 580px) {
    #sidebar{
            position: fixed;
    }
    #sidebar.ps-collapsed{
        border: 0px;
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        display: flex;
        z-index: 6;
    }
}