.side-div{
    flex-grow: 1;
    height: fit-content;
    position: sticky;
    top: 56px;
    min-width: 370px;
    max-width: 370px;
    display: flex;
    border: var(--border);
    min-height: calc(100vh - 100px);
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    background-color: var(--input-color);
    margin-left:15px
    
}

@media screen and (max-width: 1000px) {
    .side-div{
        display: none;
    }
}
