.Signup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.Signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    transition: 1s;
    width: 500px;
}

/* .Signup > *{
    margin-bottom: 30px;
} */

.Signup >form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: #ffffff; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); */
}

.Signup .image-upload{
    margin-bottom:30px ;
}

.Signup .image-viewer{
    min-height: unset;
}

.Signup .image-upload,.Signup .upload-input{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.Signup .upload-input{
    bottom: 0;
}
.Signup .upload-label, .account-avatar{
    width: 150px;
    height: 150px;
}
.Signup .image-upload img{
object-fit: cover;
    width: 100%;
    min-height: 100%;
}


.Signup form > div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Signup form label{
    color: var(--text-color-grey);
}

.Signup form input {
        /* border: var(--border); */
        border-radius: 5px;

}
.Signup .login-switcher{
    color: var(--text-color-grey);
    cursor: pointer;
    margin-top: 5px;
}

.Signup .login-switcher:hover{
    -webkit-filter: brightness(70%);
}

.Signup button{
    border: 2px solid var(--text-color1);
    color: var(--text-color1);
    margin-top: 30px;
}
