@import "./styles/GlobalVariables.css";
@import "./styles/components/loading.css";

*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    transition: 0.3s;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: var(--bg-secondary-color);
}



code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.content{
    width: 100%;
}
.pages{
    width: 100%;
    height: fit-content;
    position: relative;
    padding-top: 56px;
    overflow: clip;
    min-height: 100vh;
}

.pages > div{
    padding: 10px;
}
/* it might be a problem with justify center */
.flexCenter{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: fit-content;
    width: 100%;
    overflow-x: auto;
}

a{
    text-decoration: none;
}

img {
    max-width: 500px;
}





/* placeholder style */

/* ::-webkit-input-placeholder {
    color: var(--text-color-grey);
}

:-ms-input-placeholder {
    color: var(--text-color-grey);
}

::placeholder {
    color: var(--text-color-grey);
} */