@import "./styles/GlobalVariables.css";
@import "./styles/components/loading.css";
@import "./styles/layouts/side-div.css";
@import "./styles/components/modal.css";
*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    transition: 0.1s;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: var(--bg-secondary-color);
color: var(--text-color1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
color: var(--text-color1);}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.content{
    width: 100%;
}
.pages{
    width: 100%;
    height: fit-content;
    position: relative;
    padding-top: 56px;
    overflow: clip;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.pages > div{
    padding: 18px;
    max-width: var(--safe-width);
    width:inherit;
    justify-content: space-evenly;
}
/* it might be a problem with justify center */
.flexCenter{
    display: flex;
    /* justify-content: center; */
    height: fit-content;
    width: 100%;
    overflow-x: auto;
}

a{
    text-decoration: none;
}

img {
    max-width: 330px;
}

.mobile-menu svg{
    /* color: white; */
    height: 28px;
    width: 28px;
}

pre {
    background-color: #000 !important;
}

.login-link{
        margin: auto 22px 32px 12px;
}

.bar-login {
    width: 100%;
    color: rgb(230, 230, 230);
    border: solid 1px rgb(227, 227, 227);
    display: block;
}
.fade-in{
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  }


  @keyframes fadeIn {
      99% {
          visibility: hidden;
      }

      100% {
          visibility: visible;
      }
  }

/* placeholder style */

/* ::-webkit-input-placeholder {
    color: var(--text-color-grey);
}

:-ms-input-placeholder {
    color: var(--text-color-grey);
}

::placeholder {
    color: var(--text-color-grey);
} */