.WriteNew .quill{
    /* position:absolute; */
    /* act as padding */
    right: 10px;
    left: 10px;
    height: fit-content;
}

.WriteNew .ql-toolbar {
    position: sticky;
    top: 56px;
    right: 0;
background-color: var(--input-color);
z-index: 1;
    border-radius: 5px;
}

.ql-container {
    border: none !important;
}

/* icons  */
.ql-snow .ql-picker {
}

.ql-editor p{
color: var(--text-color1);
}

.ql-editor.ql-blank::before {
    font-size: 15px;
    color: var(--text-color-grey)!important;
}



.ql-tooltip.ql-editing {
    /* z-index: ; */
    left: 0 !important;
    bottom: 0 !important;
    top: unset !important;
        display: flex;
        justify-content: center;
        background: var(--input-color);
        position: absolute !important;
        transform: unset !important;
}

.ql-tooltip.ql-hidden {
    display: none !important;
}