.WriteNew .quill{
    /* position:absolute; */
    /* act as padding */
    right: 10px;
    left: 10px;
    height: fit-content;
}

.WriteNew .ql-toolbar {
    position: sticky;
    top: 56px;
    right: 0;
z-index: 1;
    border-radius: 5px;
    border: var(--border);
    text-align: center;
}

.ql-container {
    border: none !important;
}

/* icons  */
/* .ql-snow .ql-stroke , .ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    stroke: #757578!important;
    /* color: rgb(57, 136, 136) !important; */
    fill: rgba(0, 0, 0, 0);
 */


.ql-editor p{
color: var(--text-color1);
}

.ql-editor.ql-blank::before {
    font-size: 15px;
    color: var(--text-color-grey)!important;
}



.ql-tooltip.ql-editing {
    /* z-index: ; */
    left: 0 !important;
    bottom: 0 !important;
    top: unset !important;
        display: flex;
        justify-content: center;
        background: var(--input-color);
        position: absolute !important;
        transform: unset !important;
}

.ql-tooltip.ql-hidden {
    display: none !important;
}

.image-placeholder{
    display: flex;
    width: 100%;
    height: 240px;
    background-color: var(--input-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(primary-color);
    border:var(--border);
}

